.container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
        padding: 2em;
    }
}